<mat-sidenav-container class="example-container unicorn-dark-theme" autosize>
  <mat-sidenav #sidenav class="example-sidenav mat-elevation-z8" opened="true" mode="side">
    <a *ngFor="let link of links" mat-button routerLink="{{link.url}}"  routerLinkActive="sidenav__link-active">{{link.title}}</a>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav__content">
    <div class="example-sidenav-content">
     <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
