<mat-table class="table" #table [dataSource]="dataSource" matSort matSortDirection="asc">

  <ng-container *ngFor="let cell of tableHeader" matColumnDef="{{cell[0]}}">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{cell[1]}}</mat-header-cell>
    <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
              (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element[cell[0]]}}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="table__row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50, 100]"
               [showFirstLastButtons]="true">
</mat-paginator>
