.table

  &__row
    white-space: nowrap;

  &__cell
    text-overflow: ellipsis;
    padding: 16px 16px 16px 0;
    display: inline-block;
    min-height auto;

    &._cp
      cursor: pointer
      &:hover
        background: rgba(63,81,181,.12)
